.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #f1f;
  background-color: #f9f9f9;
  margin-bottom: 50px;
}

.header h1 {
  font-size: 40px;
  font-weight: lighter;
}

.header div {
  font-size: 40px;
}

